body {
    color: rgb(185, 38, 38);
    background: black; 
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(185, 38, 38);
    padding: 20px;
    font-size: 32px;
    color: rgb(185, 38, 38);
}

section {
    background: rgb(118, 83, 141);
}