body {
    color: rgb(185, 38, 38);
    background: black; 
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(243, 213, 22);
    padding: 20px;
    font-size: 32px;
    color: rgb(185, 38, 38);
}

section {
    background: rgb(32, 187, 226);
    padding-bottom: 80px;
    padding-top: 80px;
}