body {
    color: rgb(100, 39, 39);
    background: black; 
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(139, 13, 55);
    padding: 20px;
    font-size: 32px;
    color: rgb(185, 38, 38);
}

section {
    background: rgb(38, 116, 136);
    padding-bottom: 80px;
    padding-top: 80px;
}